.header {
  width: 95%;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.controls-container {
  display: flex;
  gap: 20px;
}

.hamburger-menu {
  background-color: inherit;
  border: none;
  color: inherit;
  cursor: pointer;
}
.hamburger-menu__icon {
  color: inherit;
  font-size: 25px;
}

.logo__link {
  color: inherit;
  font-size: 32px;
  font-weight: bold;
}

.search {
  display: flex;
  align-items: center;
  position: relative;
}

.search__input {
  padding: 10px 40px 10px 10px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: var(--blur-graduation);
  color: inherit;
  border: none;
  height: 45px;
  font-size: 20px;
  width: 300px;
  outline: none;
}

.search__input:valid {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: var(--blur-graduation);
}

.search__input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search__btn {
  background-color: inherit;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 60%;
  transform: translateY(-50%);
  color: inherit;
}

.search__icon {
  font-size: 20px;
  color: inherit;
  margin-bottom: 8px;
  margin-right: 8px;
}
