@media screen and (max-width: 600px) {
  .search__input {
    width: 270px;
  }
  .container {
    width: 90%;
  }
  .navigation {
    padding: 5px;
    margin-top: 15px;
  }
  .dailyWeatherInformation {
    width: 100% !important;
  }
  .hours-weather {
    width: 370px !important;
  }
  .weather-info {
    margin-top: 30px;
  }
}
