.weatherInfo {
  display: flex;
  flex-direction: column;
}

.cityName {
  font-size: 32px;
  font-weight: bold;
}

.formatDate {
  margin-top: 5px;
}

.temperature {
  font-size: 96px;
  font-weight: bold;
  margin-top: 160px;
}

.weatherOverview {
  display: flex;
  align-items: center;
  gap: 8px;
}

.weatherOverviewIcon {
  width: 32px;
}

.feelsLike {
  margin-top: 5px;
}

.know-aboute-weather {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 85%;
  text-align: center;
  margin: 0 auto;
}

.weatherCarasteristics {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  align-items: center;
  text-align: center;
}

.weather-mini-icon {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: var(--blur-graduation);
  border-radius: 8px;
  margin-bottom: 10px;
  color: inherit;
  width: 62px;
}
